*{
    margin:0px;
    padding:0px;
    background-color: yellow;
}
h1{
    background-color: #1F0C24;
    height:4rem;
    color:white;
    text-align: center; 
    line-height:3.8rem;
}
.choice{
    height:120px;
    width:120px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.choice:hover{
    cursor: pointer;
    background-color: #1F0C24;
}
img{
    height:100px;
    width:100px;
    object-fit: cover;
    border-radius:50%;
}
.choices{
    display:flex; 
    justify-content: center; 
    margin-top:4rem;
    gap:3rem;
    align-items: center;
}

.score-board{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:3rem;
    margin-top: 3rem;
    /* font-size: 1.5rem; */
    
}
.score{
    text-align: center;
    justify-content: center;
    font-size: 2.5rem;
}
#msg{

    background-color: #1F0C24;
    color:white;
    display: inline;
    font-size: 2rem;
    padding:1rem;
    border-radius: 1rem;
}
.written-box{
    text-align: center;
    margin-top: 4rem;
    
}



